<h1>Your Created Events</h1>

<p class="new-event"> <%= link_to 'Create a new Event', new_event_path %> </p>

<% @created_events.each do |event| %>
  <div class="event-div">
  <h2><%= event.name %></h2>
  <p><%= event.date %></p>
  <p><%= event.location %></p>
  <p><%= link_to 'Edit this event', edit_event_path(event) %></p>
  <p><%= button_to "Delete this event", event_path(event), method: :delete, data: { confirm: "Are you sure?", } %></p> <br>
  </div>
<%end%>
